 p {
    color: #222;
    width:400px;
    
}

.list_description {
    border-bottom: 1px solid
}

.disc_list{
    list-style: disc;
}



.circle_list{
    list-style: circle;
}


.square_list{
    list-style: square;
}

.none_bullet{
    list-style: none;
}

.img_list li {
    list-style: none;
    background-image: url("../src/cupcake.png")
}